In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:

SBCR_DATA = "data/results_tunning_seed-3022024.xlsx"
DATASET_STATS = "data/dataset_details.csv"

## SBCR tunning

In [8]:
df = pd.read_excel(SBCR_DATA, engine='openpyxl')
df

,chunk_id,fitness,solution_sim_lcs,status,neighbor_timeout,local_search_timeout,ils_timeout,maximum_neighbors,max_iterations_without_improvement,time_seconds
0,945002,0.742440,0.909272,ok,3,5,10,1,5,0.038821
1,945002,0.754383,0.911089,ok,3,5,20,1,5,0.025468
2,945002,0.767077,0.936345,ok,3,5,30,1,5,0.045818
3,945002,0.761262,0.843612,ok,3,5,40,1,5,0.049250
4,945002,0.823509,1.000000,ok,3,5,10,3,5,0.234418
...,...,...,...,...,...,...,...,...,...,...
7995,1130910,0.803419,0.605714,ok,3,5,40,7,20,41.361098
7996,1130910,0.803419,0.605714,ok,3,5,10,9,20,10.649717
7997,1130910,0.803419,0.605714,ok,3,5,20,9,20,22.192230
7998,1130910,0.803419,0.605714,ok,3,5,30,9,20,32.181550
7999,1130910,0.803419,0.605714,ok,3,5,40,9,20,32.325626

In [9]:
df_attributes = pd.read_csv(DATASET_STATS)[['chunk_id','chunk_size', 'solution_size', 'chunk_size_char', 'solution_size_char', 'v1_size_char', 'v2_size_char']]
df_attributes = df_attributes[df_attributes['chunk_id'].isin(df['chunk_id'].unique())]
df_attributes

,chunk_id,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char
35,777871,6,5,210,184,84,126
61,777808,4,2,407,203,209,198
244,782069,4,2,492,255,256,236
303,783558,4,2,99,54,49,50
308,784025,436,213,17604,8141,8217,9387
...,...,...,...,...,...,...,...
9898,1460571,6,3,371,194,269,102
10239,1507397,6,5,353,296,238,115
10291,1516191,12,9,772,616,591,181
10690,1655381,5,3,293,173,196,97
10696,1655811,2,1,124,61,124,0

In [10]:
df = df.merge(df_attributes, on='chunk_id')

In [11]:
df_attributes[df_attributes['chunk_id'].isin(df['chunk_id'].unique())].describe()

,chunk_id,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char
count,1.000000e+02,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,1.099305e+06,13.970000,6.250000,615.580000,282.71000,266.240000,349.340000
std,2.049256e+05,52.116314,21.403943,2061.154787,836.38728,844.140865,1385.379416
min,7.778080e+05,2.000000,1.000000,47.000000,20.00000,0.000000,0.000000
25%,9.569188e+05,3.000000,2.000000,157.750000,73.75000,74.000000,68.500000
50%,1.094636e+06,5.000000,2.500000,261.000000,128.00000,123.500000,128.500000
75%,1.197175e+06,7.000000,4.250000,409.750000,230.50000,219.500000,198.250000
max,1.655811e+06,436.000000,213.000000,17604.000000,8141.00000,8217.000000,10466.000000

In [12]:
df['configuration'] = list(zip(df['maximum_neighbors'], df['max_iterations_without_improvement'], df['ils_timeout']))
df = df.drop_duplicates(subset=['chunk_id', 'configuration'])
df

,chunk_id,fitness,solution_sim_lcs,status,neighbor_timeout,local_search_timeout,ils_timeout,maximum_neighbors,max_iterations_without_improvement,time_seconds,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char,configuration
0,945002,0.742440,0.909272,ok,3,5,10,1,5,0.038821,8,7,683,454,230,453,"(1, 5, 10)"
1,945002,0.754383,0.911089,ok,3,5,20,1,5,0.025468,8,7,683,454,230,453,"(1, 5, 20)"
2,945002,0.767077,0.936345,ok,3,5,30,1,5,0.045818,8,7,683,454,230,453,"(1, 5, 30)"
3,945002,0.761262,0.843612,ok,3,5,40,1,5,0.049250,8,7,683,454,230,453,"(1, 5, 40)"
4,945002,0.823509,1.000000,ok,3,5,10,3,5,0.234418,8,7,683,454,230,453,"(3, 5, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1130910,0.803419,0.605714,ok,3,5,40,7,20,41.361098,3,1,174,62,118,56,"(7, 20, 40)"
7996,1130910,0.803419,0.605714,ok,3,5,10,9,20,10.649717,3,1,174,62,118,56,"(9, 20, 10)"
7997,1130910,0.803419,0.605714,ok,3,5,20,9,20,22.192230,3,1,174,62,118,56,"(9, 20, 20)"
7998,1130910,0.803419,0.605714,ok,3,5,30,9,20,32.181550,3,1,174,62,118,56,"(9, 20, 30)"
7999,1130910,0.803419,0.605714,ok,3,5,40,9,20,32.325626,3,1,174,62,118,56,"(9, 20, 40)"

In [13]:
df.groupby('configuration').count().sort_values('chunk_id')

,chunk_id,fitness,solution_sim_lcs,status,neighbor_timeout,local_search_timeout,ils_timeout,maximum_neighbors,max_iterations_without_improvement,time_seconds,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char
configuration,,,,,,,,,,,,,,,,
"(1, 5, 10)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(7, 15, 20)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(7, 15, 10)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(7, 10, 40)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(7, 10, 30)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3, 10, 40)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(3, 10, 30)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(3, 10, 20)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(9, 20, 30)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
"(9, 20, 40)",100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100

#### Rank the parameters by number of victories for each instance

In [14]:
test = df.groupby('configuration').agg(
    solution_sim_lcs=('solution_sim_lcs','mean'),
    mean_time=('time_seconds','mean')
).reset_index()
test.columns = ['configuration', 'mean_solution_sim_lcs_overall', 'mean_time_overall']
test

   configuration  mean_solution_sim_lcs_overall  mean_time_overall
0     (1, 5, 10)                       0.789047           0.231938
1     (1, 5, 20)                       0.790871           0.328967
2     (1, 5, 30)                       0.814414           0.424877
3     (1, 5, 40)                       0.793194           0.401426
4    (1, 10, 10)                       0.792908           0.288092
..           ...                            ...                ...
75   (9, 15, 40)                       0.827070          21.885199
76   (9, 20, 10)                       0.815535          12.758303
77   (9, 20, 20)                       0.825313          17.876644
78   (9, 20, 30)                       0.825306          24.237597
79   (9, 20, 40)                       0.818114          25.860556

[80 rows x 3 columns]

In [15]:
df['configuration'] = list(zip(df['maximum_neighbors'], df['max_iterations_without_improvement'], df['ils_timeout']))

# find the top 1 configuration for each chunk
max_scores = df.groupby('chunk_id')['solution_sim_lcs'].transform('max')
best_configs = df[df['solution_sim_lcs'] == max_scores]

# calculate the number of vicories and average similarity for chunks where the configuration is top 1
victory_count = best_configs.groupby('configuration').agg(
    victories=('configuration', 'count'),
    mean_solution_sim_lcs=('solution_sim_lcs', 'mean')  # avg similarity for top1 chunks
).reset_index()

# calculate average similarity overall for each configuration
mean_similarity_overall = df.groupby('configuration').agg(
    solution_sim_lcs=('solution_sim_lcs','mean'),
    mean_time=('time_seconds','mean')
).reset_index()
mean_similarity_overall.columns = ['configuration', 'mean_solution_sim_lcs_overall', 'mean_time_overall']

result = victory_count.merge(mean_similarity_overall, on='configuration', how='left')
result_sorted = result.sort_values(by='victories', ascending=False)
result_sorted[['configuration', 'victories', 'mean_solution_sim_lcs', 'mean_solution_sim_lcs_overall', 'mean_time_overall']]

,configuration,victories,mean_solution_sim_lcs,mean_solution_sim_lcs_overall,mean_time_overall
59,"(7, 15, 40)",46,0.934344,0.821074,14.791063
54,"(7, 10, 30)",46,0.935222,0.827504,12.276762
40,"(5, 15, 10)",45,0.931118,0.827126,5.960600
75,"(9, 15, 40)",45,0.934932,0.827070,21.885199
17,"(3, 5, 20)",44,0.928755,0.817914,1.648305
...,...,...,...,...,...
1,"(1, 5, 20)",33,0.870005,0.790871,0.328967
11,"(1, 15, 40)",33,0.915208,0.785863,0.843103
3,"(1, 5, 40)",33,0.889245,0.793194,0.401426
8,"(1, 15, 10)",33,0.924664,0.808003,0.297113
9,"(1, 15, 20)",32,0.908119,0.795517,0.517698

#### Rank the parameters by the ascending value of the sum of ranks (for each instance)

In [16]:
# Sort the configurations by chunk_id and solution_sim_lcs (score)
df['rank'] = df.groupby('chunk_id')['solution_sim_lcs'].rank(method='min', ascending=False)

# Sum the ranks for each configuration
config_ranking = df.groupby('configuration').agg(
    rank_sum=('rank', 'sum'),
    rank_avg=('rank', 'mean'),
    mean_similarity=('solution_sim_lcs', 'mean'),
    min_similarity=('solution_sim_lcs', 'min'),
    max_similarity=('solution_sim_lcs', 'max'),
    median_similarity=('solution_sim_lcs', 'median'),
    mean_time=('time_seconds', 'mean')
).reset_index()

# Classify the configurations based on the sum of ranks (smallest sum is better)
config_ranking['overall_rank'] = config_ranking['rank_sum'].rank(method='min')

#sort by overall ranking
config_ranking_sorted = config_ranking.sort_values(by='overall_rank')

config_ranking_sorted[['configuration', 'rank_sum', 'rank_avg', 'overall_rank', 'mean_similarity','min_similarity', 'max_similarity', 'median_similarity', 'mean_time']]

,configuration,rank_sum,rank_avg,overall_rank,mean_similarity,min_similarity,max_similarity,median_similarity,mean_time
75,"(9, 15, 40)",924.0,9.24,1.0,0.827070,0.201439,1.0,0.875416,21.885199
54,"(7, 10, 30)",952.0,9.52,2.0,0.827504,0.201439,1.0,0.877143,12.276762
77,"(9, 20, 20)",957.0,9.57,3.0,0.825313,0.201439,1.0,0.862930,17.876644
79,"(9, 20, 40)",974.0,9.74,4.0,0.818114,0.199409,1.0,0.864470,25.860556
61,"(7, 20, 20)",988.0,9.88,5.0,0.815502,0.201439,1.0,0.863879,14.505888
...,...,...,...,...,...,...,...,...,...
4,"(1, 10, 10)",2687.0,26.87,76.0,0.792908,0.155807,1.0,0.844354,0.288092
2,"(1, 5, 30)",2700.0,27.00,77.0,0.814414,0.167034,1.0,0.871919,0.424877
1,"(1, 5, 20)",2995.0,29.95,78.0,0.790871,0.156421,1.0,0.821964,0.328967
3,"(1, 5, 40)",3048.0,30.48,79.0,0.793194,0.163121,1.0,0.833106,0.401426
0,"(1, 5, 10)",3139.0,31.39,80.0,0.789047,0.161620,1.0,0.828813,0.231938

In [17]:
result = config_ranking_sorted[['configuration', 'rank_avg', 'mean_similarity', 'mean_time']].merge(result_sorted[['victories', 'configuration']],on='configuration' ,  how='outer')
result.loc[result['victories'].isnull(),'victories'] = 0
# result.to_csv('result.csv')
result

   configuration  rank_avg  mean_similarity  mean_time  victories
0    (9, 15, 40)      9.24         0.827070  21.885199         45
1    (7, 10, 30)      9.52         0.827504  12.276762         46
2    (9, 20, 20)      9.57         0.825313  17.876644         43
3    (9, 20, 40)      9.74         0.818114  25.860556         44
4    (7, 20, 20)      9.88         0.815502  14.505888         44
..           ...       ...              ...        ...        ...
75   (1, 10, 10)     26.87         0.792908   0.288092         35
76    (1, 5, 30)     27.00         0.814414   0.424877         36
77    (1, 5, 20)     29.95         0.790871   0.328967         33
78    (1, 5, 40)     30.48         0.793194   0.401426         33
79    (1, 5, 10)     31.39         0.789047   0.231938         34

[80 rows x 5 columns]

In [18]:
result.sort_values('mean_similarity', ascending=False)

   configuration  rank_avg  mean_similarity  mean_time  victories
1    (7, 10, 30)      9.52         0.827504  12.276762         46
10   (5, 20, 20)     10.39         0.827324   8.760062         44
8    (5, 15, 10)     10.33         0.827126   5.960600         45
0    (9, 15, 40)      9.24         0.827070  21.885199         45
18    (7, 5, 20)     11.07         0.826440   7.883663         44
..           ...       ...              ...        ...        ...
75   (1, 10, 10)     26.87         0.792908   0.288092         35
77    (1, 5, 20)     29.95         0.790871   0.328967         33
74   (1, 10, 40)     26.59         0.790418   0.558671         35
79    (1, 5, 10)     31.39         0.789047   0.231938         34
72   (1, 15, 40)     23.62         0.785863   0.843103         33

[80 rows x 5 columns]

In [19]:
result.sort_values('victories', ascending=False)

   configuration  rank_avg  mean_similarity  mean_time  victories
1    (7, 10, 30)      9.52         0.827504  12.276762         46
6    (7, 15, 40)     10.14         0.821074  14.791063         46
0    (9, 15, 40)      9.24         0.827070  21.885199         45
8    (5, 15, 10)     10.33         0.827126   5.960600         45
13   (7, 20, 10)     10.62         0.821385   9.086957         44
..           ...       ...              ...        ...        ...
72   (1, 15, 40)     23.62         0.785863   0.843103         33
77    (1, 5, 20)     29.95         0.790871   0.328967         33
78    (1, 5, 40)     30.48         0.793194   0.401426         33
70   (1, 15, 10)     23.37         0.808003   0.297113         33
68   (1, 15, 20)     21.80         0.795517   0.517698         32

[80 rows x 5 columns]

In [20]:
result.sort_values('rank_avg')

   configuration  rank_avg  mean_similarity  mean_time  victories
0    (9, 15, 40)      9.24         0.827070  21.885199         45
1    (7, 10, 30)      9.52         0.827504  12.276762         46
2    (9, 20, 20)      9.57         0.825313  17.876644         43
3    (9, 20, 40)      9.74         0.818114  25.860556         44
4    (7, 20, 20)      9.88         0.815502  14.505888         44
..           ...       ...              ...        ...        ...
75   (1, 10, 10)     26.87         0.792908   0.288092         35
76    (1, 5, 30)     27.00         0.814414   0.424877         36
77    (1, 5, 20)     29.95         0.790871   0.328967         33
78    (1, 5, 40)     30.48         0.793194   0.401426         33
79    (1, 5, 10)     31.39         0.789047   0.231938         34

[80 rows x 5 columns]

In [21]:
similarities = df.groupby('chunk_id').agg(
    max_similarity=('solution_sim_lcs', 'max')
).reset_index()
similarities

    chunk_id  max_similarity
0     777808        1.000000
1     777871        0.848837
2     782069        1.000000
3     783558        1.000000
4     784025        0.982889
..       ...             ...
95   1460571        0.863436
96   1507397        0.828729
97   1516191        0.999198
98   1655381        1.000000
99   1655811        1.000000

[100 rows x 2 columns]

In [22]:
target = similarities['max_similarity'].mean()
print(target)

0.902733838253448

In [23]:
df['target_diff'] = target - df['solution_sim_lcs']
df

,chunk_id,fitness,solution_sim_lcs,status,neighbor_timeout,local_search_timeout,ils_timeout,maximum_neighbors,max_iterations_without_improvement,time_seconds,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char,configuration,rank,target_diff
0,945002,0.742440,0.909272,ok,3,5,10,1,5,0.038821,8,7,683,454,230,453,"(1, 5, 10)",40.0,-0.006538
1,945002,0.754383,0.911089,ok,3,5,20,1,5,0.025468,8,7,683,454,230,453,"(1, 5, 20)",39.0,-0.008355
2,945002,0.767077,0.936345,ok,3,5,30,1,5,0.045818,8,7,683,454,230,453,"(1, 5, 30)",38.0,-0.033611
3,945002,0.761262,0.843612,ok,3,5,40,1,5,0.049250,8,7,683,454,230,453,"(1, 5, 40)",53.0,0.059122
4,945002,0.823509,1.000000,ok,3,5,10,3,5,0.234418,8,7,683,454,230,453,"(3, 5, 10)",1.0,-0.097266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1130910,0.803419,0.605714,ok,3,5,40,7,20,41.361098,3,1,174,62,118,56,"(7, 20, 40)",2.0,0.297020
7996,1130910,0.803419,0.605714,ok,3,5,10,9,20,10.649717,3,1,174,62,118,56,"(9, 20, 10)",2.0,0.297020
7997,1130910,0.803419,0.605714,ok,3,5,20,9,20,22.192230,3,1,174,62,118,56,"(9, 20, 20)",2.0,0.297020
7998,1130910,0.803419,0.605714,ok,3,5,30,9,20,32.181550,3,1,174,62,118,56,"(9, 20, 30)",2.0,0.297020
7999,1130910,0.803419,0.605714,ok,3,5,40,9,20,32.325626,3,1,174,62,118,56,"(9, 20, 40)",2.0,0.297020

In [24]:
len(df[df['solution_sim_lcs']==1]['chunk_id'].unique())

55

In [25]:
df.sort_values('target_diff')

,chunk_id,fitness,solution_sim_lcs,status,neighbor_timeout,local_search_timeout,ils_timeout,maximum_neighbors,max_iterations_without_improvement,time_seconds,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char,configuration,rank,target_diff
2674,963736,0.392265,1.000000,ok,3,5,30,7,10,12.400600,2,1,108,70,108,0,"(7, 10, 30)",1.0,-0.097266
3045,1189903,0.890744,1.000000,ok,3,5,20,3,5,3.156214,3,2,323,200,145,178,"(3, 5, 20)",1.0,-0.097266
3046,1189903,0.890744,1.000000,ok,3,5,30,3,5,3.145522,3,2,323,200,145,178,"(3, 5, 30)",1.0,-0.097266
3047,1189903,0.890744,1.000000,ok,3,5,40,3,5,2.046803,3,2,323,200,145,178,"(3, 5, 40)",1.0,-0.097266
3048,1189903,0.890744,1.000000,ok,3,5,10,5,5,8.587643,3,2,323,200,145,178,"(5, 5, 10)",1.0,-0.097266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520,982801,0.539536,0.154243,ok,3,5,10,1,15,11.057123,300,19,11273,974,807,10466,"(1, 15, 10)",76.0,0.748491
2552,982801,0.550628,0.153782,ok,3,5,10,7,20,17.409839,300,19,11273,974,807,10466,"(7, 20, 10)",77.0,0.748951
2507,982801,0.550941,0.153617,ok,3,5,40,3,10,48.797986,300,19,11273,974,807,10466,"(3, 10, 40)",78.0,0.749117
2503,982801,0.550806,0.152722,ok,3,5,40,1,10,14.059034,300,19,11273,974,807,10466,"(1, 10, 40)",79.0,0.750012
2527,982801,0.549809,0.150822,ok,3,5,40,3,15,44.733877,300,19,11273,974,807,10466,"(3, 15, 40)",80.0,0.751912

#### Chunks with zero similarity to the resolution

In [26]:
df

,chunk_id,fitness,solution_sim_lcs,status,neighbor_timeout,local_search_timeout,ils_timeout,maximum_neighbors,max_iterations_without_improvement,time_seconds,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char,configuration,rank,target_diff
0,945002,0.742440,0.909272,ok,3,5,10,1,5,0.038821,8,7,683,454,230,453,"(1, 5, 10)",40.0,-0.006538
1,945002,0.754383,0.911089,ok,3,5,20,1,5,0.025468,8,7,683,454,230,453,"(1, 5, 20)",39.0,-0.008355
2,945002,0.767077,0.936345,ok,3,5,30,1,5,0.045818,8,7,683,454,230,453,"(1, 5, 30)",38.0,-0.033611
3,945002,0.761262,0.843612,ok,3,5,40,1,5,0.049250,8,7,683,454,230,453,"(1, 5, 40)",53.0,0.059122
4,945002,0.823509,1.000000,ok,3,5,10,3,5,0.234418,8,7,683,454,230,453,"(3, 5, 10)",1.0,-0.097266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1130910,0.803419,0.605714,ok,3,5,40,7,20,41.361098,3,1,174,62,118,56,"(7, 20, 40)",2.0,0.297020
7996,1130910,0.803419,0.605714,ok,3,5,10,9,20,10.649717,3,1,174,62,118,56,"(9, 20, 10)",2.0,0.297020
7997,1130910,0.803419,0.605714,ok,3,5,20,9,20,22.192230,3,1,174,62,118,56,"(9, 20, 20)",2.0,0.297020
7998,1130910,0.803419,0.605714,ok,3,5,30,9,20,32.181550,3,1,174,62,118,56,"(9, 20, 30)",2.0,0.297020
7999,1130910,0.803419,0.605714,ok,3,5,40,9,20,32.325626,3,1,174,62,118,56,"(9, 20, 40)",2.0,0.297020

In [27]:
data = []
chunks_zero_sim = df[df['solution_sim_lcs']==0]['chunk_id'].unique()
for chunk_zero_sim in chunks_zero_sim:
    df_chunk = df[(df['chunk_id']==chunk_zero_sim) & (df['solution_sim_lcs']==0)]
    chunk_data = df[(df['chunk_id']==chunk_zero_sim)].iloc[0]
    data.append([chunk_zero_sim, len(df_chunk), (len(df_chunk)/27)*100, chunk_data['chunk_size_char'], chunk_data['solution_size_char'], chunk_data['v1_size_char'], chunk_data['v2_size_char']])
zero_sim = pd.DataFrame(data, columns=['chunk_id', 'zero_sim_configs', '%', 'chunk_size_char','solution_size_char', 'v1_size_char', 'v2_size_char'])
zero_sim

Empty DataFrame
Columns: [chunk_id, zero_sim_configs, %, chunk_size_char, solution_size_char, v1_size_char, v2_size_char]
Index: []

In [28]:
len(zero_sim[zero_sim['%']==100])

0

In [29]:
df_attributes[(df_attributes['v1_size_char']==0) | (df_attributes['v2_size_char']==0)]

,chunk_id,chunk_size,solution_size,chunk_size_char,solution_size_char,v1_size_char,v2_size_char
1622,921383,2,1,74,44,74,0
1766,929370,3,2,115,61,115,0
2383,937644,4,1,185,49,0,185
2799,960891,2,1,87,38,87,0
2991,963422,3,3,90,58,90,0
3006,963736,2,1,108,70,108,0
3240,973452,18,10,662,384,0,662
3934,997401,4,1,281,74,0,281
4230,1015166,2,1,123,56,123,0
4333,1020456,26,25,2092,2034,2092,0
5785,1099605,3,1,181,65,181,0
5822,1102892,4,1,247,45,247,0
5833,1102915,2,1,114,67,0,114
6981,1151715,3,1,138,20,138,0
7025,1154299,3,1,125,41,0,125
7428,1175439,7,1,339,37,0,339
7699,1218991,2,1,61,30,0,61
7735,1236055,3,1,82,28,82,0
7748,1237123,2,1,151,68,0,151
8447,1312568,3,2,148,97,0,148
9037,1389376,5,3,87,59,87,0
10696,1655811,2,1,124,61,124,0

In [30]:
print(len(df_attributes[(df_attributes['v1_size_char']==0) | (df_attributes['v2_size_char']==0)]))

22